<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Photo Gallery</title>
</head>
<body>

<h1>Deploying website to Netlify...</h1>

<script>
    window.close()
</script>
</body>
</html>