<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Photo Gallery</title>

    {% include 'header.jinja' %}
</head>
<body>

<h1>Something went wrong while uploading the gallery to Netlify.</h1>

<h2>{{ data['message'] }}</h2>

{% include 'footer.jinja' %}

</body>
</html>