<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200&display=swap" rel="stylesheet">
<style>
    body {
        background-color: #eee;
        font-family: 'Source Sans Pro', sans-serif;
    }

    h1 {
        text-align: center;
        position: fixed;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        text-align: center;
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer {
        position: fixed;
        bottom: 20px;
        right: 20px
    }
</style>