<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Photo Gallery</title>

    <script>
        var params = document.location.hash.replace('#','')
        document.location='http://localhost:8080/token?' + params
    </script>

    {% include 'header.jinja' %}
</head>
<body>

<h1>Waiting for an answer from Netlify...</h1>

{% include 'footer.jinja' %}

</body>
</html>