{% macro gallery_images(from, to, images) -%}
<div class="row">
  <div class="col gallery">
    {% for i in range(from, to) %}
      <a href="{{ images[i].src }}"
         class="gallery-photo"
         data-index="{{ i-from }}"
         data-type="{{ images[i].type }}"
         data-gallery="{{ from }}"
         data-width="{{ images[i].size[0] }}"
         data-height="{{ images[i].size[1] }}"
         data-date="{{ images[i].date }}"
         style="--w: {{ images[i].thumbnail_size[0] }}; --h: {{ images[i].thumbnail_size[1] }}">
         <img src="{{ images[i].thumbnail }}" class="thumbnail rounded" alt="{{ images[i].description }}"/></a>
    {% endfor %}
  </div>
</div>
{%- endmacro %}


{% macro section(from, to, title, description, images) -%}
<div class="container-fluid">
  <div class="row">
    <div class="col gallery-section">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
    </div>
  </div>
  {{ gallery_images(from, to, images) }}
</div>
{%- endmacro %}